@model FinalMVC.Models.AdminViewModel
@{
    ViewBag.Title = "View";
}
@{
    Layout = String.Empty;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Collapsible sidebar using Bootstrap 4</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    @Styles.Render("~/Content/Admin.css")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

</head>
<!-- <body class="login"> -->
<body>
   
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar" class="sticky-top">
            <div class="sidebar-header">
                <a class="navbar-brand" href="/">
                    <img src="@Url.Content("~/Content/Images/iitu_logo_header.png")" width="200" height="auto" class="d-inline-block align-top" alt="">
                </a>
            </div>

            <ul class="list-unstyled components">
                <p>ADMIN PAGE</p>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Tables</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a data-toggle="collapse" href="#users" role="button" aria-expanded="false" aria-controls="users">Users</a>
                        </li>
                        <li>
                            <a data-toggle="collapse" href="#subjects" role="button" aria-expanded="false" aria-controls="subjects">Subjects</a>
                        </li>
                        <li>
                            <a data-toggle="collapse" href="#news" role="button" aria-expanded="false" aria-controls="news">News</a>
                        </li>
                        <li>
                            <a data-toggle="collapse" href="#events" role="button" aria-expanded="false" aria-controls="events">Events</a>
                        </li>
                        <li>
                            <a data-toggle="collapse" href="#courses" role="button" aria-expanded="false" aria-controls="courses">Courses</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    </div>
                </div>
            </nav>

            <div class="collapse" id="users">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2>Users</h2>
                        </div>
                        <div class="panel-body">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr data-toggle="collapse" data-target="#users" class="accordion-toggle">
                                        <th>Fist Name</th>
                                        <th>Last Name</th>
                                        <th>Mailing</th>
                                        <th>Email</th>
                                        <th>Phone number</th>
                                        <th width="10%">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var user in Model.Users)
                                    {
                                        <tr>
                                            <th>@user.FirstName</th>
                                            <th>@user.LastName</th>
                                            <th>@user.Mailing</th>
                                            <th>@user.Email</th>
                                            <th>@user.PhoneNumber</th>
                                            <th>
                                                @Html.ActionLink("Edit", "EditUser", new { id = user.Id }) |
                                                @Html.ActionLink("Details", "UserDetails", new { id = user.Id }) |
                                                @Html.ActionLink("Delete", "DeleteUser", new { id = user.Id })
                                            </th>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collapse" id="subjects">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2>Subjects</h2>
                            <a class="btn btn-primary my-3" href='@Url.Action("CreateSubject", "Admin")'>Create subject</a>
                        </div>
                        <div class="panel-body">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr data-toggle="collapse" data-target="#users" class="accordion-toggle">
                                        <th>Name</th>
                                        <th>Credits</th>
                                        <th>Hours</th>
                                        <th width="10%">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var subject in Model.Subjects)
                                    {
                                        <tr>
                                            <th>@subject.Name</th>
                                            <th>@subject.Credits</th>
                                            <th>@subject.Hours</th>
                                            <th>
                                                @Html.ActionLink("Edit", "EditSubject", new { id = subject.SubjectID }) |
                                                @Html.ActionLink("Details", "SubjectDetails", new { id = subject.SubjectID }) |
                                                @Html.ActionLink("Delete", "DeleteSubject", new { id = subject.SubjectID })
                                            </th>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collapse" id="news">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2>News</h2>
                            <a class="btn btn-primary my-3" href='@Url.Action("CreateNews", "Admin")'>Create news</a>
                        </div>
                        <div class="panel-body">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr data-toggle="collapse" data-target="#users" class="accordion-toggle">
                                        <th>Title</th>
                                        <th>ShortContent</th>
                                        <th>Content</th>
                                        <th>IsActive</th>
                                        <th>User</th>
                                        <th>PostedDate</th>
                                        <th width="10%">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var news in Model.News)
                                    {
                                        <tr>
                                            <th>@news.Title</th>
                                            <th>@news.ShortContent</th>
                                            <th>@news.Content</th>
                                            <th>@news.IsActive</th>
                                            <th>@news.User.UserName</th>
                                            <th>@news.PostedDate</th>
                                            <th>
                                                @Html.ActionLink("Edit", "EditNews", new { id = news.NewsID }) |
                                                @Html.ActionLink("Details", "NewsDetails", new { id = news.NewsID }) |
                                                @Html.ActionLink("Delete", "DeleteNews", new { id = news.NewsID })
                                            </th>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collapse" id="events">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2>Events</h2>
                            <a class="btn btn-primary my-3" href='@Url.Action("CreateEvent", "Admin")'>Create event</a>
                        </div>
                        <div class="panel-body">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr data-toggle="collapse" data-target="#users" class="accordion-toggle">
                                        <th>Title</th>
                                        <th>Content</th>
                                        <th>Date</th>
                                        <th width="10%">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var ev in Model.Events)
                                    {
                                        <tr>
                                            <th>@ev.Title</th>
                                            <th>@ev.Content</th>
                                            <th>@ev.Date</th>
                                            <th>
                                                @Html.ActionLink("Edit", "EditEvent", new { id = ev.EventID }) |
                                                @Html.ActionLink("Details", "EventDetails", new { id = ev.EventID }) |
                                                @Html.ActionLink("Delete", "DeleteEvent", new { id = ev.EventID })
                                            </th>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collapse" id="courses">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2>Courses</h2>
                            <a class="btn btn-primary my-3" href='@Url.Action("CreateCourse", "Admin")'>Create course</a>
                        </div>
                        <div class="panel-body">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr data-toggle="collapse" data-target="#users" class="accordion-toggle">
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Price</th>
                                        <th>Hours</th>
                                        <th width="10%">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var course in Model.Courses)
                                    {
                                        <tr>
                                            <th>@course.Name</th>
                                            <th>@course.Description</th>
                                            <th>@course.Price</th>
                                            <th>@course.Hours</th>
                                            <th>
                                                @Html.ActionLink("Edit", "EditCourse", new { id = course.CourseID }) |
                                                @Html.ActionLink("Details", "CourseDetails", new { id = course.CourseID }) |
                                                @Html.ActionLink("Delete", "DeleteCourse", new { id = course.CourseID })
                                            </th>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });

    </script>
</body>
</html>



